[submodule "cpp/3rdparty/libb64"]
	path = cpp/3rdparty/libb64
	url = git://git.code.sf.net/p/libb64/git
[submodule "cpp/3rdparty/rapidjson"]
	path = cpp/3rdparty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "cpp/3rdparty/pugixml"]
	path = cpp/3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
